# yaml-language-server: $schema=https://raw.githubusercontent.com/redhat-developer/vscode-tekton/refs/heads/main/scheme/tekton.dev/v1_Task.json
# This Task checks out a specific pull request from a Git repository.
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: checkout-pr
  namespace: smc-cicd
spec:
  params:
    - name: repo
      type: string
      description: repository fullname or URL according to gh cli format.
    - name: pr-number
      type: string
      description: The pull request number to check out.
  workspaces:
    - name: source
      description: The workspace where the repository will be checked out.
  steps:
    - name: checkout-pr
      image: tauho/gh-cli:latest
      script: |
        #!/bin/bash
        set -e
        cd $(workspaces.source.path)
        echo "Checking out PR #$(params.pr-number) from repo $(params.repo)"
        gh pr checkout $(params.pr-number) --repo $(params.repo)
      env:
        - name: GITHUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: github-token
              key: token
      timeout: "1m"
