# yaml-language-server: $schema=https://raw.githubusercontent.com/redhat-developer/vscode-tekton/refs/heads/main/scheme/tekton.dev/v1_Task.json
# This task clones a Git repository to a specified workspace.
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: clone-repo-task
  namespace: smc-cicd
spec:
  params:
    - name: repo
      type: string
      description: git repository or URL to clone.
  workspaces:
    - name: source
      description: The workspace where the repository will be cloned.
  steps:
    - name: clone-repo
      image: alpine/git:latest
      script: |
        #!/bin/sh
        set -e
        echo "Cloning repository $(params.repo) to $(workspaces.source.path)"
        git clone https://github.com/$(params.repo).git $(workspaces.source.path)
      env:
        - name: GITHUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: github-token
              key: token
      timeout: "3m"
