SMARTCITIZEN_USERNAME="<your smartcitizen user>"
SMARTCITIZEN_TOKEN="<your smartcitizen api token>"
NTFY_TOKEN="<your ntfy token>"
NTFY_DEFAULT_WEBHOOK_URL="<your ntfy url>"
NTFY_CRITICAL_WEBHOOK_URL="<your ntfy webhook url>"
