apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "helm.name" . }}-cronjob
  namespace: {{ .Values.namespace }}
spec:
  schedule: "* */3 * * *"
  jobTemplate:
    spec:
      template:
        namespace: {{ .Values.namespace }}
        labels:
          {{- include "helm.labels" . | nindent 12 }}
          {{- with .Values.podLabels }}
          {{- toYaml . | nindent 12 }}
          {{- end }}
        spec:
          containers:
            - name: prober
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
              imagePullPolicy: "{{ .Values.image.pullPolicy }}"
              imagePullSecrets:
                {{- toYaml .Values.imagePullSecrets | nindent 14 }}

              {{- with .Values.volumeMounts }}
              volumeMounts:
                {{- toYaml . | nindent 14}}
              {{- end }}
              command:
                - "/app/scmprober"
                - "--config=/app/config/config.yaml"
          restartPolicy: OnFailure
          {{- with .Values.volumes }}
          volumes:
            {{- toYaml . | nindent 12 }}
          {{- end }}

